# Created by .ignore support plugin (hsz.mobi)
.idea/
.iml
.idea/inspectionProfiles/
.idea/libraries/Maven__com_fasterxml_classmate_1_3_1.xml
.idea/libraries/Maven__mysql_mysql_connector_java_6_0_6.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_8_5_23.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_8_5_23.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_8_5_23.xml
.idea/libraries/Maven__org_apache_tomcat_tomcat_annotations_api_8_5_23.xml
.idea/libraries/Maven__org_apache_tomcat_tomcat_jdbc_8_5_23.xml
.idea/libraries/Maven__org_apache_tomcat_tomcat_juli_8_5_23.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_3_0_Final.xml
.idea/libraries/Maven__org_projectlombok_lombok_1_16_18.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_16.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_1_5_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_1_5_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_1_5_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_1_5_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_1_5_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_1_5_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_1_5_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_1_5_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_1_5_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_1_5_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_3_13_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_3_13_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_3_13_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_3_13_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_3_13_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_4_3_13_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_4_3_13_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_3_13_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_3_13_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_3_13_RELEASE.xml
.idea/vcs.xml
.idea/workspace.xml
server/src/main/resources/static/
server/src/main/resources/templates/
